<h2>Pretenders</h2>
<table class='table dashboard'>
  <thead>
    <tr>
      <th></th>
      <% @pretenders.each do |pretender| %>
        <th><%= link_to pretender.name, pretender %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @pretenders.each_with_index do |row_owner| %>
      <tr>
        <th><%= link_to row_owner.name, row_owner %></th>
        <% @pretenders.each do |pretender| %>
          <% if pretender.has_couple? || row_owner.has_couple? %>
            <td class='disabled'>-</td>
          <% elsif pretender == row_owner %>
            <td class='create-couple'>
              <%= link_to 'solo', couples_path(couple: {pretender_a_id: pretender.id}), method: :post, class: 'solo' %>
            </td>
          <% else %>
            <% ago = pretender.iterations_ago_with(row_owner) || '-' %>
            <td class='create-couple'>
              <%= link_to couples_path(couple: {pretender_a_id: row_owner.id, pretender_b_id: pretender.id}), method: :post do %>
                <span class="ago"><%= ago %></span>
              <% end %>
            </td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Current couples <%= link_to "Next iteration!", round_couples_path, method: 'post' %></h2>

<ul>
  <% @couples.each do |couple| %>
    <li>
      <%= couple.pretender_a.name %>
      <% if couple.pretender_b %>
        &amp; <%= couple.pretender_b.name %>
      <% else %>
        (Solo)
      <% end %>
    </li>
  <% end %>
</ul>