<h1>Pretender</h1>

<p>
  <b>Name</b><br>
  <%= @pretender.name %>
</p>

<h2>Previous couples</h2>
<ul>
  <% @couples.each do |couple| %>
    <li>
      <b><%= couple.pretender_a == @pretender ? couple.pretender_b.name : couple.pretender_a.name %></b> (<%= couple.iterations_ago %> iterations ago)
    </li>
  <% end %>
</ul>

<div class="form-actions">
  <%= link_to 'Back', pretenders_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_pretender_path(@pretender), :class => 'btn' %>
  <%= link_to 'Delete', pretender_path(@pretender), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
